<% if (registerMessage)  { %>

  <div><%= registerMessage %></div>

<% } %>

<form action='/register' method="POST">
    <input type="email" name="email" placeholder="insert email">
    <input type="password" name="email" placeholder="password">
  
    <button type="submit">
      Submit
    </button>
  </form>