

<form action='/signup' method="POST">
    <input type="username" name="username" placeholder="insert username">
    <input type="email" name="email" placeholder="insert email">
    <input type="password" name="password" placeholder="password">
  
    <button type="submit">
      Submit
    </button>
  </form>