<form action="/image" enctype="multipart/form-data" method="POST">
    <div class="form-group">
      <input type="file" class="form-control-file" name="image">
      <input type="text" class="form-control" placeholder="Number of speakers" name="nspeakers">
      <input type="submit" value="Get me the stats!" class="btn btn-default">            
    </div>
  </form>